name: "Invoke Semantic Pull Request"

on:
  pull_request_target:
    types: [opened, edited]

permissions:
  pull-requests: write

jobs:
  call-reusable-workflow:
    uses: superlogica/github-workflows/.github/workflows/reusable-semantic-pull-request.yml@master
